---
layout: default
title: Adam's Computer Art Website
---
<link type="application/atom+xml" rel="alternate" title="Art RSS Feed" href="/feed/art.xml"/>
{% for art in site.art reversed %}
<div>
    <h3>
        <a href="{{ art.url }}" class="title" title="{{art.description}}">{{ art.title }}</a> ({{art.date | date: "%b %d %Y"}})
    </h3>
</div>
{% endfor %}
