html {
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-family: 'Courier New', Courier, monospace;
    background: ivory;
}

#header {
    position: relative;
    border-bottom: 1px solid #f2f3f3;
    padding: 1em;
}

#content {
    /* width: 90%; */
    /* margin: 0 auto; */
    padding: 0 2em;
}

#footer {
    margin-top: 2em;
    padding: 0 1em;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(56, 56, 56);
}

a:link {
    color: rgb(20, 79, 173);
}
