<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,shrink-to-fit=0,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <title>{{page.title}} - Adam's Computer Art Website</title>
    <style>
        html {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Courier New', Courier, monospace;
        }

        body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0
        }

        canvas {
            margin: auto;
            width: 460px;
            max-width: 100vw;
            height: 595px;
            display: block;
            box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .15)
        }

        @media screen and (max-width: 460px){
            canvas {
                width: 100vw;
                height: calc(100vw * 1.29);
            }
        }

        .nav {
           margin-top: 1em; 
        }
        .nav a {
            text-decoration: none;
            color:black;
            font-size: x-large;
        }
    </style>
<!-- paper.js and my library -->
    <script src="/assets/js/paper-full.js"></script>
    <script src="/assets/js/paper_lib.js"></script>
<!-- For exporting to HPGL -->
    <script src="/assets/js/canvas-hpgl.umd.js"></script>
    <script src="/assets/js/canvas-polyline.umd.js"></script>
    
    {% for js in page.jsincludes %}
        <script src="/assets/js/{{js}}"></script>
    {% endfor %}

    <script>
    document.addEventListener('keyup', (e) => {
        console.log(e.code);
        
        {% if page.next %}
        if (e.code === "ArrowLeft")        location.replace("{{ page.next.url }}");
        {% else %}
        if (e.code === "ArrowLeft")        location.replace("{{ site.art[0].url }}");
        {% endif %}

        {% if page.previous %}
        else if (e.code === "ArrowRight")        location.replace("{{ page.previous.url }}");
        {% else %}
        {% assign last lastPostIndex = site.art | size | minus: 1 %}
        else if (e.code === "ArrowRight")        location.replace("{{ site.art[lastPostIndex].url }}");
        {% endif %}
        else if (e.code === "Space" || e.code === "ArrowDown") location.reload();
        else if (e.code === "ArrowUp") location.replace("/");
      });
      </script>

</head>

<body>
    <!-- Hint! There's arrow key navigation. Left/Right to move, Down/Space for reload, Up for menu -->
    <div class="nav">
        {% if page.next %}
        <a href="{{ page.next.url }}">←</a>
        {% else %}
        <a href="{{ site.art[0].url }}">↻</a>
        {% endif %}
        <a href="{{ page.url }}">⟲</a>
        <a href="/">⇑</a>
        <a href="#saved" title="warning: slow" onclick="saveSVG()">🖫</a>
        {% if page.previous %}
        <a href="{{ page.previous.url }}">→</a>
        {% else %}
        {% assign last lastPostIndex = site.art | size | minus: 1 %}
        <a href="{{ site.art[lastPostIndex].url }}">↺</a>
        {% endif %}
    </div>

    <script>
        function saveSVG() {
            // paper.setup("myCanvas");
            console.log("saving SVG")
            fileName = "paperjs_export.svg";
            url =
            "data:image/svg+xml;utf8," +
            encodeURIComponent(paper.project.exportSVG({ asString: true }));
            // var link = document.getElementById("downloadSVG");
            var link = document.createElement("a");
            link.download = fileName;
            link.href = url;
            document.body.appendChild(link);
            link.click()
            }
        function saveHPGL() {
            console.log("saving HGPL");
            fileName = "{{page.title}}.hgpl".replace(" ", "_")
            url =
            "data:text/plain;utf8," +
            encodeURIComponent(get_hpgl());
            // var link = document.getElementById("downloadSVG");
            var link = document.createElement("a");
            link.download = fileName;
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }

        function wrap_canvas(canvas, other_ctx) {
            let proxy_handler = {
                apply: function (target, canvasObj, argumentsList) {
                    console.debug('proxy_getContext args: ', { target, canvasObj, argumentsList });
                    return canvasObj.ctx_polyline;
                }
            };
            let ctx_og = canvas.getContext('2d');
            let ctx_polyline = new CanvasPolyline([ctx_og, ...other_ctx]);
            // monkey-patch in unimplemented functions
            ctx_polyline.clearRect = (...args) => {
                console.log('clearRect called', args);
                ctx_polyline.ctx.forEach(c => c.clearRect(...args));
            };
            ctx_polyline.fill = (...args) => {
                console.log('fill called', args);
                // ctx_polyline.ctx.forEach(c => c.fill(...args));
            };
            // store the context with the object (to be returned by the proxy handler)
            canvas.ctx_polyline = ctx_polyline;
            canvas.ctx_og = ctx_og;
            // replace getContext with proxy handler
            let proxy_getContext = new Proxy(canvas.getContext, proxy_handler);
            canvas.getContext = proxy_getContext;
        }

        var hpgl_ctx = new CanvasHpgl();

        window.addEventListener('load', () => {
            var canvas = document.getElementById('myCanvas')
            console.log(canvas);
            
            var canvas_ctx = canvas.getContext('2d');
            hpgl_ctx.stroke = () => { };
            hpgl_ctx.clearRect = (...args) => { hpgl_ctx._ = []; console.log('called with', args) };

            wrap_canvas(canvas, [hpgl_ctx]);

            drawPaper();
        })

        function get_hpgl() {
            return `IN;\nSP 1;\nSC 0, 300,0, -320, 1,0,0;\n${hpgl_ctx.toString()}PU;\nSP 0;\n`
        }
    </script>
    <script>
    function drawPaper(){
        paper.setup("myCanvas");
        paper.install(window)

        {{ content }}
        
    }
    </script>
    <canvas id="myCanvas" width="612" height="792" style="{% if page.background %} background: {{page.background}}; {% endif %}"></canvas>

    <b>{{ page.title }}</b>
    {% if page.description %}
    {{ page.description | markdownify }}
    {%endif%}
</body>

</html>
