<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,shrink-to-fit=0,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <title>{{page.title}} - Adam's Computer Art Website</title>
    <style>
        html {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Courier New', Courier, monospace;
        }

        body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0
        }

        canvas {
            margin: auto;
            width: 460px;
            max-width: 100vw;
            height: 595px;
            display: block;
            box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .15)
        }

        #placard {
            width: 460px;
            max-width: 100vw;zo
        }

        @media screen and (max-width: 460px){
            canvas {
                width: 100vw;
                height: calc(100vw * 1.29);
            }

            #placard {
                width: 100vw;
            }
        }

        .nav {
           margin-top: 1em; 
        }
        .nav a {
            text-decoration: none;
            color:black;
            font-size: x-large;
        }
    </style>
    <script src="/assets/js/paper-full.js"></script>
    <script src="/assets/js/paper_lib.js"></script>
    {% for js in page.jsincludes %}
    <script src="/assets/js/{{js}}"></script>
    {% endfor %}
    <script>
        function saveSVG() {
            // paper.setup("myCanvas");
            console.log("printing")
            fileName = "paperjs_export.svg";
            url =
            "data:image/svg+xml;utf8," +
            encodeURIComponent(paper.project.exportSVG({ asString: true }));
            // var link = document.getElementById("downloadSVG");
            var link = document.createElement("a");
            link.download = fileName;
            link.href = url;
            document.body.appendChild(link);
            link.click()
            }
    </script>
    <script>
    document.addEventListener('keyup', (e) => {
        console.log(e.code);
        
        {% if page.next %}
        if (e.code === "ArrowLeft")        location.replace("{{ page.next.url }}");
        {% else %}
        if (e.code === "ArrowLeft")        location.replace("{{ site.art[0].url }}");
        {% endif %}

        {% if page.previous %}
        else if (e.code === "ArrowRight")        location.replace("{{ page.previous.url }}");
        {% else %}
        {% assign last lastPostIndex = site.art | size | minus: 1 %}
        else if (e.code === "ArrowRight")        location.replace("{{ site.art[lastPostIndex].url }}");
        {% endif %}
        else if (e.code === "Space" || e.code === "ArrowDown") location.reload();
        else if (e.code === "ArrowUp") location.replace("/");
      });</script>

</head>

<body>
    <!-- Hint! There's arrow key navigation. Left/Right to move, Down/Space for reload, Up for menu -->
    <div class="nav">
        {% if page.next %}
        <a href="{{ page.next.url }}">←</a>
        {% else %}
        <a href="{{ site.art[0].url }}">↻</a>
        {% endif %}
        <a href="{{ page.url }}">⟲</a>
        <a href="/">⇑</a>
        <a href="#saved" title="warning: slow" onclick="saveSVG()">🖫</a>
        {% if page.previous %}
        <a href="{{ page.previous.url }}">→</a>
        {% else %}
        {% assign last lastPostIndex = site.art | size | minus: 1 %}
        <a href="{{ site.art[lastPostIndex].url }}">↺</a>
        {% endif %}
    </div>

    <script type="text/paperscript" canvas="myCanvas">paper.install(window);
        {{ content }}
    </script>
    <canvas id="myCanvas" width="612" height="792" style="{% if page.background %} background: {{page.background}}; {% endif %}"></canvas>

    <div id="placard">
        <b>{{ page.title }}</b>
        {% if page.description %}
        {{ page.description | markdownify }}
        {%endif%}
    </div>
</body>

</html>
