<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,shrink-to-fit=0,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <div id = "header">
      <a href="/" style="text-decoration: none; color: black">
        Adam's Computer Art
      </a>
    </div>
    <div id = "content">
      {{ content }}
    </div>
    <div id="footer">
      <footer>
          Made by <a href="https://novotny.dev" style="text-decoration: none;">adam novotny</a>.
      </footer>
    </div>
  </body>
</html>
